
.saira-stencil{
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #fef9f9d8;
}

/* Logo */
.logo {
    color: #08e074;
    font-size: 22px;
    font-weight: bold;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Links */
.nav-links a {
    text-decoration: dotted;
    color: #14d762;
    font-size: 16px;
    transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
    color: #b5da0e;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
    }
}
.img{
    padding-top: 2%;
    padding-left: 10%;
}